# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variáveis de ambiente
.env
.env.*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Banco local (se usar SQLite)
*.db